<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
            <title>Token chart</title>
            <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
            <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        {% endblock %}
    </head>
    <body class="bg-gray-100 flex flex-col min-h-screen">
        <div class="max-w-6xl mx-auto w-full p-6 flex-grow"">
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h1 class="text-3xl font-bold mb-4">Solana Trade</h1>
                <div class="mb-4">
                    <ul class="flex border-b">
                        <li class="mr-1">
                            <a href="{{ url_for("read_root") }}"
                               class="inline-block py-2 px-4 text-blue-500 font-semibold {{ 'border-l border-t border-r rounded-t bg-white' if active_tab == 'chart' else 'hover:text-blue-600' }}">Chart</a>
                        </li>
                        <li class="mr-1">
                            <a href="{{ url_for("read_create_pair") }}"
                               class="inline-block py-2 px-4 text-blue-500 font-semibold {{ 'border-l border-t border-r rounded-t bg-white' if active_tab == 'create-pair' else 'hover:text-blue-600' }}">Create pair</a>
                        </li>
                        <li>
                            <a href="{{ url_for("read_add_token") }}"
                               class="inline-block py-2 px-4 text-blue-500 font-semibold {{ 'border-l border-t border-r rounded-t bg-white' if active_tab == 'add-token' else 'hover:text-blue-600' }}">Add token</a>
                        </li>
                    </ul>
                </div>
                <div id="message"
                     class="mt-4 text-center p-4 bg-gray-100 border border-gray-300 rounded"></div>
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="bg-gray-800 text-white text-center py-4 mt-6">
            <div id="footer">
                {% block footer %}&copy; Copyright 2025 by <a href="#" class="underline">Solana Trade</a>.{% endblock %}
            </div>
        </div>
    </body>
</html>
