{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="/static/script.js"></script>
    <style>
    #priceChart {
        border: 1px solid #cccccc;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
    </style>
{% endblock %}
{% block content %}
    <h1 class="text-3xl font-bold mb-4">Token Chart Update</h1>
    <label for="token-select" class="block text-lg font-medium text-gray-700">Select Token / USDC:</label>
    <select id="token-select"
            name="token-select"
            onchange="updateChart()"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md">
        <option value="">Select Token</option>
    </select>
    <div id="chart-container" class="mt-6">
        <canvas id="priceChart"
                width="400"
                height="200"
                class="w-full"
                style="display:none"></canvas>
    </div>
    <div class="mt-4 text-center" id="price-container" style="display:none">
        <span id="current-price" class="text-xl font-bold"></span>
    </div>
    <div class="mt-4 flex flex-col items-center space-y-4"
         id="buttons-container"
         style="display:none">
        <div class="w-full flex justify-between">
            <button id="buy-button"
                    class="w-1/2 px-4 py-2 mr-1 bg-green-500 text-white font-semibold rounded hover:bg-green-600 transition"
                    disabled
                    hx-post="/api/v1/tokens/buy"
                    hx-ext='json-enc'
                    hx-include="#amount, #token-select, #current-price-value"
                    hx-target="#message">BUY</button>
            <button id="sell-button"
                    class="w-1/2 px-4 py-2 ml-1 bg-red-500 text-white font-semibold rounded hover:bg-red-600 transition"
                    disabled
                    hx-post="/api/v1/tokens/sell"
                    hx-ext='json-enc'
                    hx-include="#amount, #token-select, #current-price-value"
                    hx-target="#message">SELL</button>
        </div>
        <label for="amount" class="block text-lg font-medium text-gray-700">Amount:</label>
        <input type="number"
               id="amount"
               name="amount"
               class="mt-1 block w-full p-2 border border-gray-300 rounded-md"
               placeholder="Enter amount" />
        <input type="number"
               id="current-price-value"
               name="current-price-value"
               class="mt-1 block w-full p-2 border border-gray-300 rounded-md"
               placeholder="Enter amount"
                />
        <div id="message" class="mt-4 text-center"></div>
    </div>
{% endblock %}
