{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="/static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx-ext-disable-element@2.0.0/disable-element.js"></script>
    <style>
        #priceChart {
            border: 1px solid #cccccc;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        }
    </style>
{% endblock %}
{% block content %}
    <h2 class="text-2xl font-bold mb-4">Chart</h2>
    <label for="token-select" class="block text-lg font-medium text-gray-700">Traders:</label>
    <select id="token-select"
            name="pair_id"
            onchange="updateChart()"
            class="mt-1 block w-full p-2 border border-gray-300 rounded-md">
        <option value="">Select trade</option>
        <option value="create-new-trader">...Create new trade</option>
    </select>
    <div id="chart-content" style="display:none">
        <div id="chart-container" class="mt-6">
            <canvas id="priceChart" width="400" height="200" class="w-full"></canvas>
        </div>
        <div class="mt-4 text-center" id="price-container">
            <span id="current-price" class="text-xl font-bold"></span>
        </div>
        <div class="mt-4 flex flex-col items-center space-y-4"
             id="buttons-container">
            <form id="buy-form"
                  class='w-full'
                  hx-post="/api/v1/orders/buy"
                  hx-ext='json-enc, disable-element'
                  hx-target="#message"
                  hx-disable-element="#buy-button"
                  hx-include="#amount, #token-select, #current-price-value">
                <label for="amount" class="block text-lg font-medium text-gray-700">Amount:</label>
                <input type="number"
                       step="0.001"
                       id="amount"
                       name="amount"
                       class="mt-1 block w-full p-2 border border-gray-300 rounded-md"
                       placeholder="Enter amount"
                       required />
                <input type="hidden" id="current-price-value" name="price" value="" />
                <div class="w-full mt-2 flex justify-between">
                    <button type="submit"
                            id="buy-button"
                            class="w-full px-4 py-2 mr-1 bg-green-500 text-white font-semibold rounded hover:bg-green-600 transition disabled:opacity-50 disabled:cursor-not-allowed">
                        BUY
                    </button>
                </div>
            </form>
        </div>
        <div class="mt-4">
            <label for="is-active-trade" class="flex items-center">
                <input type="hidden" id="is-active-value" name="is_active" value="" />
                <input type="checkbox"
                       id="is-active-trade"
                       class="mr-2"
                       hx-patch="/api/v1/pairs/is_active"
                       hx-ext='json-enc'
                       hx-target="#message"
                       hx-include="#is-active-value" />
                <span class="text-lg">Enable Trade</span>
            </label>
        </div>
        <button class="collapsible mt-4 p-2 bg-gray-200 text-gray-700 rounded">Trading Settings</button>
        <div id="trading-settings-form"
             class="content mt-4 bg-neutral-50 p-6 rounded-lg shadow-md"
             style="display:none">
            <form id="settings-form" hx-patch="" hx-target="#message" hx-ext='json-enc'>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div>
                        <label for="take-profit" class="block text-lg font-medium text-gray-700">Take Profit Percentage:</label>
                        <input type="number"
                               step="0.001"
                               id="take-profit"
                               name="take_profit_percentage"
                               class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500 transition"
                               placeholder="Enter take profit percentage"
                               value="" />
                    </div>
                    <div>
                        <label for="stop-loss" class="block text-lg font-medium text-gray-700">Stop Loss Percentage:</label>
                        <input type="number"
                               step="0.001"
                               id="stop-loss"
                               name="stop_loss_percentage"
                               class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500 transition"
                               placeholder="Enter stop loss percentage"
                               value="" />
                    </div>
                    <div>
                        <label for="short-ema" class="block text-lg font-medium text-gray-700">Short EMA Time Period:</label>
                        <input type="number"
                               id="short-ema"
                               name="short_ema_time_period"
                               class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500 transition"
                               placeholder="Enter short EMA period"
                               value="" />
                    </div>
                    <div>
                        <label for="long-ema" class="block text-lg font-medium text-gray-700">Long EMA Time Period:</label>
                        <input type="number"
                               id="long-ema"
                               name="long_ema_time_period"
                               class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500 transition"
                               placeholder="Enter long EMA period"
                               value="" />
                    </div>
                    <div>
                        <label for="rsi-buy" class="block text-lg font-medium text-gray-700">RSI Buy Threshold:</label>
                        <input type="number"
                               id="rsi-buy"
                               name="rsi_buy_threshold"
                               class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500 transition"
                               placeholder="Enter RSI buy threshold"
                               value="" />
                    </div>
                    <div>
                        <label for="rsi-sell" class="block text-lg font-medium text-gray-700">RSI Sell Threshold:</label>
                        <input type="number"
                               id="rsi-sell"
                               name="rsi_sell_threshold"
                               class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500 transition"
                               placeholder="Enter RSI sell threshold"
                               value="" />
                    </div>
                    <div>
                        <label for="rsi-period" class="block text-lg font-medium text-gray-700">RSI Time Period:</label>
                        <input type="number"
                               id="rsi-period"
                               name="rsi_time_period"
                               class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500 transition"
                               placeholder="Enter RSI time period"
                               value="" />
                    </div>
                    <div>
                        <label for="buy-amount" class="block text-lg font-medium text-gray-700">Buy Amount:</label>
                        <input type="number"
                               step="0.01"
                               id="buy-amount"
                               name="buy_amount"
                               class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500 transition"
                               placeholder="Enter buy amount"
                               value="" />
                    </div>
                    <div>
                        <label for="max-orders-period"
                               class="block text-lg font-medium text-gray-700">
                            Max Orders Check Period (minutes):
                        </label>
                        <input type="number"
                               id="max-orders-period"
                               name="buy_check_period_minutes"
                               class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500 transition"
                               placeholder="Enter max orders threshold"
                               value="" />
                    </div>
                    <div>
                        <label for="max-orders-period-amount"
                               class="block text-lg font-medium text-gray-700">Max Orders in Last Period:</label>
                        <input type="number"
                               id="max-orders-period-amount"
                               name="buy_max_orders_in_last_period"
                               class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500 transition"
                               placeholder="Enter max orders threshold"
                               value="" />
                    </div>
                    <div>
                        <label for="max-orders" class="block text-lg font-medium text-gray-700">Max Orders Threshold:</label>
                        <input type="number"
                               id="max-orders"
                               name="buy_max_orders_threshold"
                               class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500 transition"
                               placeholder="Enter max orders threshold"
                               value="" />
                    </div>
                </div>
                <div class="mt-4">
                    <label for="auto-buy" class="flex items-center">
                        <input type="hidden"
                               id="auto-buy-value"
                               name="auto_buy_enabled"
                               value="false" />
                        <input type="checkbox"
                               id="auto-buy"
                               class="mr-2"
                               onchange="updateHiddenSettingsValue('auto-buy', 'auto-buy-value')" />
                        <span class="text-lg">Enable Automatic Buying</span>
                    </label>
                </div>
                <div class="mt-4">
                    <label for="auto-sell" class="flex items-center">
                        <input type="hidden"
                               id="auto-sell-value"
                               name="auto_sell_enabled"
                               value="false" />
                        <input type="checkbox"
                               id="auto-sell"
                               class="mr-2"
                               onchange="updateHiddenSettingsValue('auto-sell', 'auto-sell-value')" />
                        <span class="text-lg">Enable Automatic Selling</span>
                    </label>
                </div>
                <button type="submit" class="mt-4 p-2 bg-blue-500 text-white rounded">Save Settings</button>
            </form>
        </div>
        <div id="total-profit" class="mt-4 text-xl font-bold text-center">Total Profit: $0.00</div>
        <table class="min-w-full bg-white border border-gray-300">
            <thead>
                <tr>
                    <th class="border-b-2 px-4 py-2">Date</th>
                    <th class="border-b-2 px-4 py-2">Token</th>
                    <th class="border-b-2 px-4 py-2">Amount</th>
                    <th class="border-b-2 px-4 py-2">Price</th>
                    <th class="border-b-2 px-4 py-2">Profit</th>
                    <th class="border-b-2 px-4 py-2">Action</th>
                </tr>
            </thead>
            <tbody id="data-body">
            </tbody>
        </table>
        <div class="mt-4 flex justify-center">
            <button id="load-more-orders-button"
                    class="px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600 transition"
                    onclick="loadMoreOrders(selectedToken)">Load More Orders</button>
        </div>
    </div>
{% endblock %}
